<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shorthand</title>
</head>
<body style="margin:0px; display:block;">


<div id="heading" style=" font-size: 30px;text-align: center;margin-top: 50vh;">
    <div>
        {{ title }}
    </div>
</div>

</body>
</html>